@import "../../mixins.scss";
.footer {
    background: linear-gradient(-45deg, #08244e, #183f79, #041226, #04152d);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    padding: 50px 0;
    color: white;
    position: relative;
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    
    
    }
    .contentWrapper {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .menuItems {
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        margin-bottom: 20px;
        @include md {
            margin-bottom: 30px;
            gap: 30px;
        }
        .menuItem {
            transition: all ease 0.3s;
            cursor: pointer;
            font-size: 12px;
            @include md {
                font-size: 16px;
            }
            &:hover {
                color: var(--pink);
            }
        }
    }
    .infoText {
        font-size: 12px;
        line-height: 20px;
        opacity: 0.5;
        text-align: center;
        max-width: 800px;
        margin-bottom: 20px;
        @include md {
            font-size: 14px;
            margin-bottom: 30px;
        }
    }
    .socialIcons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        .icon {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: var(--black);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: all ease 0.3s;
            &:hover {
                box-shadow: 0 0 0.625em lightblue;
                color: lightblue;
            }
        }
    }
}

h4{
    text-align: center;
    padding-top: 60px;
    &:hover {
        color: var(--pink);
    }
    
}